body {
  background-color: #343a40;
  color: #fff;
}
.navBarLink {
  margin: 5px;
}

.navBarBottom {
  height: 30px;
}

.navBarTop {
  height: 40px;
}

.localeButton {
  height: 30px;
  width: 30px;
}
